body {
    background-color: #FFFFFF;
}


header nav .container-fluid{
    background-color:#000;
}


.navbar-header a{
    padding:0;
}
.navbar-default .navbar-nav>li>a:hover,
.nav a:hover {
    cursor: pointer;
}
.navbar{
    margin-bottom:0
}

.navbar-brand img{
    display:inline-block;
}
.navbar-brand span {
    padding-top:5px;
    display:inline-block;
    color:#FFF;
}
.content-outer {
    margin: 0 20px 20px 20px;
}

.content-outer >:first-child{
    /* background-color:#e8e8e8; */
}
.day-view {
    display: block;
    padding: 0;
    /* border-left: 1px solid #000; */
    margin-bottom: 0;
}
.card-outer{
    min-height: 45px;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding-top: 4px;
}
.d0 .card-outer{
    border-left: 1px solid #E0E0E0;
}

.day-view.d-0 .card-outer{
    padding-left:10px;
    border-left: 1px solid #E0E0E0;
}

.day-view li {
    list-style: none;
    /*  */
}

.month {
    width: 7.5%;
    display: inline-block;
    float: left;
}

.month:first-child {
    width: 10%;
}

.day-info {
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid #D0D0D0;
    /* border-top: 1px solid #dfe2e4; */
    border-right: 1px solid #dfe2e4;
    background-color: #E0E0E0;
    color: #565656;
}

.d-0 .day-info{
    border-left: 1px solid #E0E0E0;
}

.items {
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
}

.item {

    /* border-right: 1px solid #000000; */

    display: inline-block;

    /* float: left; */

    height: 20px;

    width: 100%;
}

.sameline {
    margin: 7px 1px 1px 1px;
}

.sameline .show-item{
    text-align:center;
}
.sameline .inner-item{
    width:15%;
    display:inline-block;
    background-color:#007FA9;
    margin:0 2% 0 3%;
    text-align:center;
    border: 1px solid #D1EDF6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sameline .inner-item:hover{
    background-color:#006A8D;
    border: 1px solid #FFFFF;
}

.popover-event,
.form-actions{
    width:100%
}

.left-brdr {
    border-left: 1px solid #000000;
}

.items li {
    display: inline-block;
    width: auto;
    /* float: left; */
    /* height: 20px; */
}

.show-item:hover{
    background-color:#006A8D;
    border: 1px solid #FFFFF;
}
.show-item {
    border: 1px solid #D1EDF6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.more-than-four{
    width: 96% !important;
    height: 20px !important;
    display: block !important;
    float: none !important;
}
.more-than-four div{
    background-color:transparent;
    width:99%;
    height:100%;
    display: block;
    float: left;
    border:none;
}

.show-item:first-child {

}

.popover-content ul {
    padding: 0;
}

.popover-content ul li {
    border-left: none;
    min-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.form-actions {
    text-align: right;
    padding: 5px;
    border-top: 1px solid #E0E0E0;
    width: 100%;
    margin-top: 10px;
    float:left;
}

.popover .btn {
    font-size: 12px;
    padding: 5px 15px;
}

.popover li {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.popover li:nth-child(odd) {
    background-color: #E3E4D2;
}

.popover li:nth-child(even) {

}

.event-item div {
    display: inline-block;
}

.event-item {
    vertical-align: middle;
    padding: 0 7px 5px 10px;
}

.event-item .name {
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 9px;
}

.popover-event .btns {
    padding: 5px 2px 3px 20px;
    width: 82px;
}

.popover-event .btns .btn {
    font-size: 11px;
    padding: 4px 15px;
}

.popover-content {
    padding: 0px 0px;
    background-color: #F0F1DE;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popover-event li {
    padding: 5px 10px;
}

.color-default,
.color-1 {
    background-color: #007FA9;
}

.color-2 {
    background-color: #7ae7bf;
}

.color-3 {
    background-color: #dbadff;
}

.color-4 {
    background-color: #E7652F;
}

.color-5 {
    background-color: #F0C111;
}

.color-6 {
    background-color: #ffb878;
}

.color-7 {
    background-color: #46d6db;
}

.color-8 {
    background-color: #e1e1e1;
}

.color-9 {
    background-color: #5484ed;
}

.color-10 {
    background-color: #2FCA71;
}

.color-11 {
    background-color: #dc2127;
}

.popover{
    border-radius:0;
    border: 1px solid #C5C6AE;
}



.myButtons .in {
    text-align:center;
    padding: 20px 40% 0;
}


.myButtons .out{
    text-align:center;
    padding: 0 25px;
    float:right;

}

.popover-event li{
    width:100%
}


.links .link{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}