<div class="popover" tabindex="-1" ng-show="content">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>

    <div class="popover-content">

        <form name="popoverForm">
            <div class="popover-event">
                <ul>
                    <li ng-if="content.name" title="{{content.name}}"><strong>Name : </strong> {{content.name}}</li>
                    <li ng-if="content.location" title="{{content.location}}"><strong>Location : </strong> <span
                            class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></span>
                        {{content.location}}
                    </li>
                    <li ng-if="content.description" title="{{content.description}}"><strong>Description : </strong>
                        {{content.description}}
                    </li>
                    <li ng-if="content.start"><strong>Start : </strong> {{content.start | date : "medium"}}</li>
                    <li ng-if="content.end"><strong>End : </strong> {{content.end | date : "medium"}}</li>
                    <li ng-if="content.attachments.length > 0">
                        <div class="links">
                            <div><strong>Links</strong></div>
                            <div class="link" ng-repeat="a in content.attachments">
                                <img ng-src="{{a.iconLink}}"/> <a href="{{a.fileUrl}}" target="_blank">{{a.title}}</a>
                            </div>
                        </div>
                    </li>
                    <li ng-if="content.attendees" title="{{content.attendeesList}}"><strong>attendees : </strong>
                        <span ng-repeat="a in content.attendees">
                            <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span >{{a.displayName || a.email}}</span>
                            </span>
                    </li>
                </ul>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-info" ng-click="$hide()">Close</button>
            </div>
        </form>
    </div>
</div>